body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
@-webkit-keyframes blinker {
  from { background-color: green; }
  to { background-color: inherit; }
}
@-moz-keyframes blinker {
  from { background-color: green; }
  to { background-color: inherit; }
}
@-o-keyframes blinker {
  from { background-color: green; }
  to { background-color: inherit; }
}
@keyframes blinker {
  from { background-color: green; }
  to { background-color: inherit; }
}
.blinker {
  -webkit-animation: blinker 1s infinite; /* Safari 4+ */
  -moz-animation:    blinker 1s infinite; /* Fx 5+ */
  -o-animation:      blinker 1s infinite; /* Opera 12+ */
  animation:         blinker 1s infinite; /* IE 10+ */
}

td {
    padding: 1em;
}
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Supporting marketing content */
.requests {
  margin: 3rem 0;
}
.requests p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
