<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script>
      {% block content %}
      const USER = '{{username}}';
      const PASSWORD = '{{password}}';
      const PREFIX = '{{prefix}}';
      {% endblock %}
      const SERVER = '192.168.1.208';
      const PORT = 1884;
      const CHANNEL_TELEMETRY = 'redbutton/test/' + PREFIX + '/telemetry/position';
      const CHANNEL_COMMANDS = 'redbutton/test/' + PREFIX + '/command';
      const CHANNEL_META = 'redbutton/test/' + PREFIX + '/meta';

      const OFFSET_X = 0;
      const OFFSET_Y = 0;
      var TOTAL_HEIGHT = 300;
      var TOTAL_WIDTH = 450;

      const REAL_HEIGHT = 1100;
      const REAL_WIDTH = 1500;

      function toPixels(x, y) {
	      return {x: OFFSET_X + (x / REAL_WIDTH) * TOTAL_WIDTH, y: OFFSET_Y + ((REAL_HEIGHT - y) / REAL_HEIGHT) * TOTAL_HEIGHT};
      }

      function toScale(w, h) {
	      return {w: (w / REAL_WIDTH) * TOTAL_WIDTH, h: -(h / REAL_HEIGHT) * TOTAL_HEIGHT};
      }

      var stage;
      var rover;
      var walls = [
	{x: -44, y: -10, w: 1488, h: 16},
	{x: -43, y: 1039, w: 1480, h: 16},
	{x: -44, y: -10, w: 16, h: 1069},
	{x: 1426, y: -12, w: 16, h: 1063},
	{x: 271, y: -10, w: 16, h: 740},
	{x: 586, y: 632, w: 16, h: 415},
	{x: 588, y: 307, w: 16, h: 147},
	{x: 904, y: -10, w: 16, h: 747},
	{x: 904, y: 727, w: 223, h: 16},
	{x: 1220, y: 306, w: 212, h: 16}		
      ];
      var commands = [];
      var prev = 0;
      var rover_model = {x: 0, y: 0, rotation: 0};

      const WIDTH = 110;  // Rover width.
      const LENGTH = 135;  // Rover height.
      const REPORTING = 100;  // Send rover coordinates every REPORTING milliseconds.

      function init() {
	var c = document.getElementById("demoCanvas");
	c.width  = window.innerWidth - 50;
	c.height = window.innerHeight - 50;
	var ratio = REAL_WIDTH / REAL_HEIGHT;
	var adjusted_height = c.width / ratio;
	var adjusted_width = c.height * ratio;
	TOTAL_HEIGHT = Math.min(c.height, adjusted_height);
	TOTAL_WIDTH = Math.min(c.width, adjusted_width);

        stage = new createjs.Stage("demoCanvas");
        rover_model.x = 166;
        rover_model.y = 364;
        rover_model.rotation = 90;
        rover = new createjs.Shape();
	var convert = toScale(LENGTH, WIDTH);
	var circle = toScale(8, 8);
        rover.graphics.beginFill("Black").drawRect(-convert.w/2, -convert.h/2, convert.w, convert.h).beginFill("white").drawCircle(convert.w/2-circle.w-2, 0, circle.w);
        updateRover();
        stage.addChild(rover);

        walls
          .map(w => {
            rect = new createjs.Shape();
	    // Correct for some older offsets.
	    var convert = toPixels(w.x + 50, w.y + 50);
	    var dims = toScale(w.w, w.h);
            rect.graphics.beginFill("DeepSkyBlue").drawRect(convert.x, convert.y, dims.w, dims.h);
            return rect;
          })
          .map(w => stage.addChild(w));
        stage.update();

        createjs.Ticker.addEventListener("tick", handleTick);
      }

      function checkCollision(x, y) {
        return walls.some(w => x > w.x + 50 && y > w.y + 50 && x < w.x + 50 + w.w && y < w.y + 50 + w.h);
      }

      function toRadians (angle) {
        return angle * (Math.PI / 180);
      }

      function updateRover() {
	var convert = toPixels(rover_model.x, rover_model.y);
        rover.x = convert.x;
        rover.y = convert.y;
        rover.rotation = -rover_model.rotation;
      }

      function handleTick() {
        var current = createjs.Ticker.getTime();
        if (commands.length > 0) {
          var curx = rover_model.x;
          var cury = rover_model.y;
          var curr = rover_model.rotation;

          if (!commands[0].active) {
            var start = createjs.Ticker.getTime();
            commands[0].begin.time = start;
            commands[0].end.time += start;
            commands[0].active = true;
          } else if (current > commands[0].end.time) {
            switch (commands[0].kind) {
              case "move":
                rover_model.x = commands[0].end.x;
                rover_model.y = commands[0].end.y;
                break;
              case "rotate":
                rover_model.rotation = commands[0].end.rotation;
                break;
            }
            commands.shift();
          } else {
            switch (commands[0].kind) {
              case "move":
                rover_model.x = commands[0].begin.x + (commands[0].end.x - commands[0].begin.x) * (current - commands[0].begin.time) / (commands[0].end.time - commands[0].begin.time);
                rover_model.y = commands[0].begin.y + (commands[0].end.y - commands[0].begin.y) * (current - commands[0].begin.time) / (commands[0].end.time - commands[0].begin.time);
                break;
              case "rotate":
                rover_model.rotation = commands[0].begin.rotation + (commands[0].end.rotation - commands[0].begin.rotation) * (current - commands[0].begin.time) / (commands[0].end.time - commands[0].begin.time);
                break;
            }
          }

          var dx1 = LENGTH * Math.cos(toRadians(rover_model.rotation)) / 2;
          var dy1 = LENGTH * Math.sin(toRadians(rover_model.rotation)) / 2;
          var dx2 = - WIDTH * Math.sin(toRadians(rover_model.rotation)) / 2;
          var dy2 = WIDTH * Math.cos(toRadians(rover_model.rotation)) / 2;

          if (checkCollision(rover_model.x + dx1 + dx2, rover_model.y + dy1 + dy2) ||
              checkCollision(rover_model.x + dx1 - dx2, rover_model.y + dy1 - dy2) ||
              checkCollision(rover_model.x - dx1 + dx2, rover_model.y - dy1 + dy2) ||
              checkCollision(rover_model.x - dx1 - dx2, rover_model.y - dy1 - dy2)) {
            rover_model.x = curx;
            rover_model.y = cury;
            rover_model.rotation = curr;
          }
        }

        if (current - prev > REPORTING) {
          client.publish(CHANNEL_TELEMETRY, [current, rover_model.x, rover_model.y, ((rover_model.rotation % 360) + 360) % 360].join(" "))
          prev = current;
        }
        updateRover();
        stage.update();
      }
    </script>
  </head>
<body onload="init();">

<canvas id="demoCanvas" width="1500" height="1100" />

<script>
  var client  = mqtt.connect(
    {
        host: SERVER,
        port: PORT,
        username: USER,
        password: PASSWORD,
    })

  client.on('connect', function () {
    client.subscribe(CHANNEL_COMMANDS);
  })

  client.on('message', function (topic, message) {
    // message is Buffer
    console.log(topic.toString() + " -> " + message.toString())
    var fields = message.toString().split(":");
    var delta = parseInt(fields[1]);
    switch (fields[0]) {
      case "forward":
        var dx = 100 * Math.cos(toRadians(rover_model.rotation)) * delta / 1000;
        var dy = 100 * Math.sin(toRadians(rover_model.rotation)) * delta / 1000;
        commands = [{
          kind: "move",
          active: false,
          begin: {time: 0, x: rover_model.x, y: rover_model.y},
          end: {time: delta, x: rover_model.x + dx, y: rover_model.y + dy}}];
        break;
      case "back":
        var dx = -100 * Math.cos(toRadians(rover_model.rotation)) * delta / 1000;
        var dy = -100 * Math.sin(toRadians(rover_model.rotation)) * delta / 1000;
        commands = [{
          kind: "move",
          active: false,
          begin: {time: 0, x: rover_model.x, y: rover_model.y},
          end: {time: delta, x: rover_model.x + dx, y: rover_model.y + dy}}];
        break;
      case "right":
        var dr = -100 * delta / 1000;
        commands = [{
          kind: "rotate",
          active: false,
          begin: {time: 0, rotation: rover_model.rotation},
          end: {time: delta, rotation: rover_model.rotation + dr}}];
        break;
      case "left":
        var dr = 100 * delta / 1000;
        commands = [{
          kind: "rotate",
          active: false,
          begin: {time: 0, rotation: rover_model.rotation},
          end: {time: delta, rotation: rover_model.rotation + dr}}];
        break;
      default:
        console.log("unknown command", message.toString())
        break;
    }
  })
</script>

</body>
</html>
