<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Red Button Challenge</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <!-- Custom styles for this template -->
  <link href="static/index.css" rel="stylesheet">
</head>

<body>

  {% block content %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Red Button Challenge</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/static/generated/rules.html">Правила</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static/generated/rules_en.html">Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emulator">Emulator</a>
        </li>
      </ul>
      <a class="nav-link" href="#" data-user="{{data}}" id="logged_user">
        Logged in as {{data}}
        </a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
      </ul>

    </div>
  </nav>

  <main role="main" class="container">

    <div class="row header">
      <div class="col-xs-12">
        <h1 id="timer">00:00</h1>
        <p class="lead"> Estimated time</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <img src="http://192.168.1.208:8080/cam.mjpg" / onerror="this.src='static/640x420.png';" width="100%" height="100%">
        <!--<img src="static/640x420.png"/>-->
      </div>
        <div class="col-xs-12 col-md-5 table-wrapper-scroll-y" style="display: block;position: relative;height: 420px;overflow: auto;">
		<table class="table table-bordered" id="users_table"></table>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Requests</h3>
          </div>
          <div class="col col-xs-8 text-right">
            <button type="button" class="btn btn-primary" id="request_button">New Request</button>
            <button type="button" class="btn btn-danger" id="skip_button">Skip Request</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped" id="requests_table"></table>
      </div>
    </div>
  </main>

  <script src="static/js/index.js"></script>
  {% endblock %}
</body>

</html>
