<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="supercool marsrover login page">
      <meta name="author" content="roboteam">
      <link rel="icon" href="../../../../favicon.ico">
      <title>Sign in into the challenge</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="static/signin.css" rel="stylesheet">
   </head>
   <body class="text-center">
      <form class="form-signin" action="/login" method="POST">
         <img class="mb-4" src="https://i.imgur.com/v1sFzM6.png" alt="" width="72" height="72">
         <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
         <label for="inputUser" class="sr-only">Username</label>
         <input type="username" name="username" id="inputUser" class="form-control" placeholder="username" required autofocus>
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
         <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
         </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Sign in</button>
         {% block content %}
         <p>{{data}}</p>
         {% endblock %}
         <div class="login-help">
            <a href="/register">Register</a> - <a href="#">Forgot Password</a>
         </div>
         <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
   </body>
</html>
